@import 'variables';
.hero__btn{
    border: 0;
    border-radius: 2rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: inherit;
    padding: 1rem 4rem;
    text-decoration: none;
    font-weight: 600;
    font-family: $ff-poppins;
    font-size: 1rem;
    cursor: pointer;
    transition: $trans-cubic;

}
.her__btn:focus,
.hero__btn:active {
  outline: none;
}
.hero__btn--light{
    background-color: white;
    color: $text-color-primary;
  
    &:hover {
      background-color: $text-color-primary;
      color: $footer-color;
    }
}
.hero__btn--accent{
    margin-top: 3rem;
    color: $footer-color;
    background-color: lighten($color-accent, 8);
  
    &:hover {
      background-color: $color-accent;
    }
}