$text-color-primary: hsl(192, 100%, 9%);
$text-color-secondary: hsl(208, 11%, 55%);
$color-accent: hsl(322, 100%, 66%);
$main-box-shadoww: 0px 0px 20px rgba($color: #000000, $alpha: 0.1);
$footer-color: hsl(192, 100%, 96%);
$trans-cubic: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); //des transitions sur les boutons

//FONT FAMILY
$ff-open-sans: 'Open Sans', sans-serif;
$ff-poppins: 'Poppins', sans-serif;