* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
  }

 

  .container {
    display: grid;
    grid-template-columns: 10% auto;
  
    grid-auto-rows: minmax(200px ,auto);
   
  }
  
  .item1 {
  grid-row-start: 1;
  grid-row-end: 7;
}