@import 'variables';
@import 'btn';
.modal {
  display: flex;
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   text-align: left;
   background: rgba(0,0,0, .9);
   transition: opacity .25s ease;
   z-index: 2;
   &__bg {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     cursor: pointer;
   }
 &-state {
   display: none;
 }
 
&-state:checked + .modal {
   opacity: 1;
   visibility: visible;
 }
 
&-state:checked + .modal &__inner {
   top: 0;
 }
 
&__inner {
   transition: top .25s ease;
   position: absolute;
   top: -20%;
   right: 0;
   bottom: 0;
   left: 0;
   width: 80%;
   margin: auto;
   overflow: auto;
   background: #fff;
   border-radius: 5px;
   padding: 0em 2em;
   height: 50%;
 }
 &__titles{
   float: left;
   margin-left: 30em;
   margin-top: -17em;
   color: $color-secondary;
    
  }

  
 
  &__image img{
    margin-left: -2em;
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 9em;
  margin-bottom: 1em;
}

 &__paraghraph{
    font-size: 1em;
    display: flex;
    align-items: stretch;
   flex-direction: row;
   flex-wrap: nowrap;
    justify-content: flex-end;
    margin: -12em -2em 0em 14em;
    text-align: left;
   
  }

 
&__close {
   position: absolute;
   right: 1em;
   top: 1em;
   width: 1.1em;
   height: 1.1em;
   cursor: pointer;

   }
   &__close:after,
   &__close:before {
       content: '';
       position: absolute;
       width: 2px;
       height: 1.5em;
       background: #ccc;
       display: block;
       transform: rotate(45deg);
       left: 50%;
       margin: -3px 0 0 -1px;
       top: 0;
      
 }
&__close:hover:after,
&__close:hover:before {
   background: #aaa;
 }
 
 &__close:before {
   transform: rotate(-45deg);
 }
  
 
  .btn-2{
    text-transform: uppercase;
    background-color: $color-secondary;
    width: 10em !important;
    padding: 1em 0em;
    font-weight: bold;
    border-radius: 10px;
    left: 10%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 2rem;
    color:$color-dark;
    cursor: pointer;
    margin-left: 31em;
    margin-top: 3em;
    text-align: center;
  
  }
  
 }

 .btn {
   
  text-transform: uppercase;
  background-color: $color-secondary;
  width: 10em !important;
  padding: .8em 1em;
  font-weight: bold;
  border-radius: 1em;
  left: -1%;
  position: relative;
  transform: translateX(-50%);
  // margin-top: 2rem;
  color:$color-dark;
  cursor: pointer;
  margin-top: 3em;
  text-align: center;
  top:4em;
  }
  a {
    text-decoration: none;
  }

  @media only screen and (max-width: 1000px) {
  .modal__image img {
    margin-left: -2em;
    margin-bottom: 1em;
    width: 100%;
    height: auto;
  }
  .modal__titles{
    margin-left: 6em;
    margin-top: 2em;
  }
  .modal__paraghraph {
    position: relative;
    top: 24em;
    right: 12em;
    margin-top: -16em;
    width: 88%;
  }  
  .modal .btn-2{
    position: relative;
    left: -17em;
    top: 21em;
    margin-bottom: 1em;
    margin-top: 5em;
  }
  .btn {
    bottom: -3em;
  }
  }