.booking {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color:  gray;
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    width:  82%;
    height: 81%;
   margin-left: 5em;
    margin-top: 3em;
   
    text-align: center;

    &__img1{
    
        grid-area: 1 / 1 / 3 / 3; 
      img{
        object-fit: cover;
        width: 100%;
        min-height: 100%;
    }
    
    }
    &__img2{
    
        grid-area: 3 / 1 / 5 / 3; 
      img{
       
        object-fit: cover;
        width: 100%;
        min-height: 100%;
    }
    
    }
    &__headings{
        grid-area: 1 / 3 / 2 / 7; 
        text-align: center;
        padding-top: 2rem;
        h4{
            padding-top: 1rem;
            color: #5b9bd5;
        }

    }
    &__txt1{
        grid-area: 2 / 3 / 4 / 5;
        padding-top: 2em;
    }
    &__txt2{
        grid-area:  2 / 5 / 4 / 7; 
        padding-top: 2em;
    }
    &__btn{
        grid-area: 4 / 3 / 5 / 7;
        text-align: center;
        
        .submit{
            background-color:#5b9bd5;
    border: none;
    width: 10em !important;
    padding: 1em 0em;
    font-weight: bold;
    border-radius: 10px;
    left: 10%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 2rem;
    color: white;
    cursor: pointer;

        }
        
    }
    a:link,
  a:visited{
   text-decoration: none;
  }
    }
    .booking:target {
        visibility: visible;
        opacity: 1;
      }
    //   .box {
    //     width: 40%;
    //     margin: 0 auto;
    //     background: rgba(255,255,255,0.2);
    //     padding: 35px;
    //     border: 2px solid #fff;
    //     border-radius: 20px/50px;
    //     background-clip: padding-box;
    //     text-align: center;
    //     width: 75%;
  
    //   }
      
     
    //   .btn {
    //     font-size: 1em;
    //     padding: 10px;
    //     color: #fff;
    //     border: 2px solid #06D85F;
    //     border-radius: 20px/50px;
    //     text-decoration: none;
    //     cursor: pointer;
    //     transition: all 0.3s ease-out;
    //   }
      .modal2__close{
        color: #363636;
        font-size: 2em;
        position: absolute;
        top: .5em;
        right: 1em;
       }
       .modal2-open{
        display: inline-block;
        color: dodgerblue;
        margin: 2em;
       }
       #modal2:target{
        opacity: 1;
        visibility: visible;
        
       }
     
       #modal2:target .modal2__content{
        opacity: 1;
        visibility: visible;
       }
    @media only screen and (max-width: 800px) {
        .booking{
            display: block;
            clear: both;
    
            }  
    }