@import 'variables';


.item7{
    font-weight: 900;
    &__wrapper{
        background-color: $color-primary;
        text-align: center;
    }

    &__wrapper--list ul{
        list-style: none;
        padding-top: 30px;

    }
    &__logo--size{
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    input{
        border: none;
        background-color: $footer-color;
        color:$color-dark;
        font-size: 16px;
        width: 200px;
        height: 40px;
        text-align: left;
        padding-left: 10px;
        
    }
    a{
        color: black;
        margin-bottom: 20px;
        font-size: 23px;

    }
    p{
        font-size: 23px;
        margin-bottom: 20px;
    }
}
.wrapper{
    &__list--items{
        padding-bottom: 10px;
    }
}
@media only screen and (min-width: 1024px){
    .wrapper{
        &__list--items{
            display: inline;
            padding: 45px;
        }
}
.item7{
    &__logo{
        display: block;
        margin: 40px auto;
    }
    button{
        display: inline;
        width: 150px;

    }
    p{
        float: left;
        margin-top: 30px;    
        padding-left: 45px;
        padding-right: 80px;
    }
    a{
        float: left;
        margin-top: 30px; 


    }
    input{
        width: 320px;
        margin-right: 20px;
    }
}

}