@import 'variables';


.item7{
    font-weight: 900;
    &__wrapper{
        background-color: $color-primary;
        text-align: center;
    }
    &__wrapper--list ul{
        text-transform: uppercase;
        list-style: none;
        padding-top: 30px;

    }
    &__logo--size{
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__info--email{
        border: none;
        background-color: $footer-color;
        color:$color-dark;
        font-size: 16px;
        width: 200px;
        height: 40px;
        text-align: left;
        padding-left: 10px;
    }
    &__info--email:focus{
        background-color: $color-accent;
        font-weight: 700;
    }
    &__info--youcode{
        color: black;
        margin-top: 20px;
    }
    &__info--youcode:hover{
        text-decoration: underline;
    }

}
.wrapper{
    &__list--items{
        padding-bottom: 1rem;
    }
    &__list--link:hover{
        border-bottom: 0.2em solid darken($color-gry, 5%) ;
        border-bottom-width: thick;
        color: ($footer-color, 15%);
    }
}
@media only screen and (min-width: 1024px){
    .wrapper{
        &__list--items{
            display: inline;
            padding: 45px;
        }
}
    .item7{
    &__wrapper--list ul{
        font-size: 1rem;
    }
    &__info{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    &__logo{
        display: block;
        margin: 40px auto;
    }
    &__info--copyright{
        font-size: 18px;
        margin: auto;
        grid-area: 1/2;
    }
    &__info--youcode{
        font-size: 20px;
        margin: auto;
        grid-area: 1/1;
    }
    &__info--email{
        margin: auto;
        width: 300px;
        grid-area: 1/3;
    }

}

}