@import'variables';

.logo { 
    display: grid;
    justify-items: center;
    grid-area: 1 / 2 / 2 / 4; 
    
    img{
        width: 50%;
        
    }
}

.home {
    
    background-image: url("/dist/img/back.jpg");
    background-size: cover;
    
    
    
     background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    &__title{
        grid-area: 2 / 1 / 3 / 5;
        margin-left: 10em;
       
        
        
        h1{
            font-size: 3em;
            color: #000000;
          

        }
        p{
            font-size: 2em;
            color: #000000;
        }

    }
    &__title--btn{
        text-transform: uppercase;
    background-color:  #ba6b57;
    border: none;
    color:$color-dark;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 20px auto;
       
    }
    &__title--logos{
        grid-area: 3 / 1 / 4 / 5;
        display: inline;
        text-align: center;
    
       
        h4 {
            font-size: 2em;
            color: white;
            margin-top: 1em;
            text-align: center;
            text-transform: uppercase;
          }
          
          h4.no-span {
            display: table;
            white-space: nowrap;
          }
          h4.no-span:before,
          h4.no-span:after {
            border-top: 0.08em  solid #e7b2a5;
            
            content: '';
            display: table-cell;
            position: relative;
            top: 0.5em;
            width: 45%;
          }
          h4.no-span:before {
            right: 0;
          }
          h4.no-span:after {
            left: 0;
          }
        img{
            width: 10em;
            padding: 2em;
            
            
            
        }

    }
    &__agents{
        grid-area: 1 / 5 / 4 / 6;
        background-color:white;
        h2{
            text-align: center;
            margin-bottom: .5em;
            color:  #ba6b57;
            padding-top: 10%;
        }
        h3{
            text-align: center;
            color: #ba6b57;
        }
        p{
            color :#ba6b57 ;
            text-align: center;
            
        }
    }
    &__agents--realtors{
        display: grid;
        justify-content: center;
        grid-row-gap: 1em;
        
        img{
        width: 7em;
        height: 7em;
        margin-top: 20%;

        }
       
    }


    
    }
   
    
   