
  .maison{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1000PX;
    margin-top: 1%;
   

    &_card img{
        width: 100%;
    }

    &_card{                       
    background-color: white;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.6);
    transition:0.4s;
    width:300px;
    text-align:center;
    font-size:16px;
    font-family: sans-serif;
    float: left;
    margin: 10px;




    h3{
       margin-top: 1em;
    }


    .icon{
        display: flex; 
        justify-content: space-around; 
        margin-top: 1em; 

    }


  button{
    
      background-color: $color-secondary;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 1em;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      margin-top: 10%;
      padding-bottom: 10%;
    
  }

    }
}


.Btn{

    background-color:  $color-secondary;
    margin-top: -3em;
    margin-left: 5%;
    width: 10em;
    height: 2.4em;
    border: none;
}



@media only screen and (max-width: 800px){
    .maison{
        
        display: grid;
        grid-template-columns: repeat(3 33.33%);


        &_card{
            margin-left: 8%;
            width: 80%;
            padding-top: 4%;
        }
       
        .Btn{

            font-size: 200%;
        }

    }
}



