$color-primary: #f1935c;
$color-secondary: #ba6b57;
$color-accent: #e7b2a5;
$color-gry: #414042;
$color-dark: #313131;
$main-box-shadoww: 0px 0px 20px rgba($color: #000000, $alpha: 0.1);
$footer-color: hsl(192, 100%, 96%);
$trans-cubic: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); //des transitions sur les boutons

//FONT FAMILY
$ff-open-sans: 'Josefin Sans', sans-serif;
